<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>053e7e19-ce42-4263-ae5a-8e759f456743</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cSoBdALAjz32uwU3dr3r03LreSJQ2dUZ5zW8DstZ</string>
	<key>PROJECT_APP_UUID</key>
	<string>59468692-86c1-47d5-8265-cb89e108eeb0</string>
</dict>
</plist>